name: ci
on:
  push:
    branches:
      - main
  workflow_dispatch:
  pull_request:
    types:
      - synchronize
      - opened
      - reopened
      - labeled
      - unlabeled
jobs:
  cibuild:
    name: cibuild
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: WillAbides/setup-go-faster@v1
        id: setup-go
        with:
          go-version-file: go.mod
      - uses: actions/cache@v3
        with:
          path: |
            ${{ steps.setup-go.outputs.GOCACHE }}
            ${{ steps.setup-go.outputs.GOMODCACHE }}
          key: go-${{ runner.os }}-${{ hashFiles('go.*', '*.go', '.github/workflows/ci.yaml', 'script/*', 'action/*' ,'.bindown.yaml', '.goreleaser.yaml') }}
          restore-keys: go-${{ runner.os }}-
      - uses: tibdex/github-app-token@v1.8.0
        id: generate-token
        with:
          app_id: ${{ secrets.RELEASER_APP_ID }}
          private_key: ${{ secrets.RELEASER_APP_KEY }}
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: jetify-com/devbox-install-action@v0.14.0
        with:
          enable-cache: 'true'
      - name: git config
        run: |
          git config --local user.name '${{ github.actor }}'
          git config --local user.email '${{ github.actor }}@users.noreply.github.com'
      - run: script/cibuild
      - name: release-train
        id: release-train
        env:
          LOG_DEBUG_AS_NOTICE: 1
        uses: WillAbides/release-train@v3.8.5
        with:
          create-release: true
          release-refs: main
          initial-release-tag: ""
          github-token: '${{ steps.generate-token.outputs.token }}'
          v0: true
          pre-tag-hook: |
            .github/workflows/ci/cibuild/script/pre-tag-hook
      - name: echo output
        if: always()
        run: |
          cat <<EOF
          ${{ toJSON(steps.release-train.outputs) }}
          EOF
